<div id="side-bar"> 
	<a href="https://wpa.qq.com/msgrd?v=3&uin=1209657766&site=qq&menu=yes" rel="external" class="icon-qq">QQ在线咨询</a> 
	<a href="#" class="icon-chat">微信<div class="tips"><i></i><img style="width:138px;height:138px;" src="/static/assets/img/mmqrcode1490325857150.png" alt="微信号"></div></a> 
	<a href="#" class="icon-tel">联系电话<div class="tips"><i></i><img style="width:138px;height:138px;" src="/static/assets/img/tel.png" alt="联系电话"></div></a> 
	<a href="mailto:zb@hb-zb.com" class="icon-mail">邮箱</a>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?12a7b3d1469983125bf4d9591aa60bc5";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script>
(function(){
    var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
    document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>