<div id="vssue"></div>
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/meteorlxy/vssue@1.4.8/packages/vssue/dist/vssue.github.min.js"></script>
<!-- <script src="//cdn.jsdelivr.net/gh/meteorlxy/vssue@1.4.8/packages/vssue/dist/vssue.github-v4.min.js"></script> -->
<script>
  new Vue({
    el: '#vssue',
    render: h => h('Vssue', {
      props: {
        title: '{{ post.title }}',
        options: {
          owner: 'heartnn',
          repo: 'hbzb',
          clientId: '82f125bdda0753ec5c24',
          clientSecret: '22f5d99e277197c02b6294e5371b22e239fcd46f',
        },
      }
    })
  })
</script>